includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 1
    paths:
        - src
    bootstrapFiles:
        - phpstan-bootstrap.php
    parallel:
        maximumNumberOfProcesses: 1
    tmpDir: .phpstan
