<phpunit bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false"
        colors="false" convertErrorsToExceptions="true"
        convertNoticesToExceptions="true" convertWarningsToExceptions="true">
        <testsuites>
                <testsuite name="default">
                        <file>tests/phpunit/tests/Test_PushPull.php</file>
                        <file>tests/phpunit/tests/Test_Rest.php</file>
                        <file>tests/phpunit/tests/Test_RealMediaLibrary.php</file>
                </testsuite>
        </testsuites>
</phpunit>
